/*scss*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
$fs : 14px;
$ff : 'Open Sans', Helvetica, Arial, sans-serif;
@mixin bradius ($rad){
    -webkit-border-radius: $rad;
    border-radius: $rad;
}
$tablet-width: 768px;
$desktop-width: 1200px;

html {
    height: 100%;
}
body {
    height: 100vh;
    font-size: $fs;
    font-family: $ff;
}
h2 {
    font-size: $fs*1.5;

}
h3 {
    font-size: $fs/1;
    color: gray;
}
//.link {
   // text-decoration: none;
   // color: #6B6C6F;
    //&:hover {
    //    text-decoration: underline;
    //}
//}
form {
    display: flex;
    flex-direction: column;
}
input,
button {
    @include bradius(15px);
}
label {
    padding-bottom: 10px;
}
.email-input,
.password-input {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
.checkbox-input {
    display: flex;
    padding: 10px;
}
input {
    
}

.login-page__inner {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.login-page__top {
    align-items: center;
}
.login-logo {
    margin-right: 210px;
}
.login-page__form {
    //padding-top: 50%;
    //padding-bottom: 50%;
}
.login-item__submit {
    display: flex;
}
.login-page__bottom {
    flex-shrink: 0;
}
.password-wrap,
.email-wrap {
    display: flex;
    flex-direction: column;
}
.login-page__bottom,
.login-page__top,
.login-content__authorization,
.login-content__reminders {
    display: flex;
    justify-content: space-between;
}
.checkbox {
    
}
button {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}
.register {
    border: 2px solid #29B1CC;
    color: #29B1CC;
    background: #ffffff;
    font-weight: bold;
}
.login {
    background: #29B1CC;
    color: #ffffff;
    font-weight: bold;
}
.reminders-link {
    color: #DFE2E6;
    text-decoration: none;
}
.lang-switcher span {
    text-transform: uppercase;
}
.login-page__top,
.login-page__form,
.login-page__bottom {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
//От 320px моб.версия
body {
    min-width: 320px; //лучше задать на body, чтобы не выпадали
}
.login-page__inner {
    width: 320px; //либо auto, если макет резиновый
    //padding: 0 20px; //не забываем про отступы от краёв
    margin: 0 auto;
}

//От 768px планшетная версия
@media (min-width: $tablet-width) {
    .login-page__inner {
        width: 500px; //либо auto, если макет резиновый
        //padding: 0 64px; //не забываем про отступы от краёв
        margin: 0 auto;
    }
}

// От 1200 десктопная версия
@media (min-width: $desktop-width) {
    .login-page__inner {
        width: 550px;//на десктопе контент обычно фиксированной ширины
        //padding: 0 64px;//не забываем про отступы от краёв
        margin: 0 auto;
    }
}
//Ширина контейнера на вьюпорте в 1087px: 1087-128=959
//Результат: бесшовный переход от планшета к десктопу