/*scss*/
$fs : 14px;
$ff : 'Open Sans', Helvetica, Arial, sans-serif;
@mixin bradius ($rad){
    -webkit-border-radius: $rad;
    border-radius: $rad;
}

body {
    font-size: $fs;
    font-family: $ff;
}
h2 {
    font-size: $fs*1.5;

}
h3 {
    font-size: $fs/1;
    color: gray;
}
.link {
    text-decoration: none;
    color: #6B6C6F;
    //&:hover {
    //    text-decoration: underline;
    //}
}
form {
    display: flex;
    flex-direction: column;
}
input,
button {
    @include bradius(15px);
}
label {
    padding-bottom: 10px;
}
input {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
.login-page__inner {
    padding: 20px 10px;
}
.login-page__header {
    align-items: center;
}
.login-logo {
    margin-right: 210px;
}
.login-page__form {
    padding-top: 50%;
    padding-bottom: 50%;
}
.login-item__submit {
    display: flex;
    
}
.login-page__header,
.login-page__footer,
.login-content__authorization,
.login-content__reminders {
    display: flex;
    justify-content: space-between;
}
.checkbox {
    margin-right: 110px;
}
button {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}
.register {
    border: 2px solid #29B1CC;
    color: #29B1CC;
    background: #ffffff;
    font-weight: bold;
}
.login {
    background: #29B1CC;
    color: #ffffff;
    font-weight: bold;
}
.reminders-link {
    color: #DFE2E6;
    text-decoration: none;
}
.lang-switcher span {
    text-transform: uppercase;
}