/*scss*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
$fs : 14px;
$ff : Helvetica, Arial, sans-serif;
@mixin bradius ($rad){
    -webkit-border-radius: $rad;
    border-radius: $rad;
}
$tablet-width: 768px;
$desktop-width: 1200px;

@font-face {
    font-weight: normal;
    font-family: "BebasNeue";
    font-style: normal;
    src: url("../fonts/BebasNeue-Regular.woff2")format("woff2");
}
@font-face {
    font-weight: bold;
    font-family: "BebasNeue";
    font-style: normal;
    src: url("../fonts/BebasNeue-Bold.woff2")format("woff2");
}

html {
    height: 100%;
}
body {
    height: 80vh;
    font-size: $fs;
    font-family: cursive;
    padding: 30px 20px;
}
h2 {
    font-size: $fs*1.5;
    padding-bottom: 15px;

}
h3 {
    font-size: $fs/1.5;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.link {
   text-decoration: none;
}
.login-page__form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 100px 30px 0 30px;
}
input,
button {
    @include bradius(20px);
}
label {
    padding-bottom: 10px;
}
.email-input,
.password-input {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border: 1px solid #DFE2E6;
}
.checkbox-input {
    display: flex;
    padding: 10px;
}
.login-image {
    vertical-align: middle;
}
.login-page__top,
.login-page__bottom {
    padding: 0 20px;
    vertical-align: middle;
}
.login-logo {
    margin-right: 210px;
}
.login-item__submit,
.checkbox {
    display: flex;
    vertical-align: middle;
}
.login-page__bottom {
    flex-shrink: 0;
}
.password-wrap,
.email-wrap {
    display: flex;
    flex-direction: column;
}
.login-page__bottom,
.login-page__top,
.login-content__authorization,
.login-content__reminders {
    display: flex;
    justify-content: space-between;
}
button {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}
.register {
    border: 2px solid #29B1CC;
    color: #29B1CC;
    background: #ffffff;
    font-weight: bold;
}
.login {
    background: #29B1CC;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #DFE2E6;
}
.reminders-link {
    color: #DFE2E6;
    text-decoration: none;
}
.lang-switcher a {
    text-transform: uppercase;
}
.login-page__top,
.login-page__form,
.login-page__bottom {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.login-page__bottom {
    height: 50px;
}
//От 320px моб.версия
body {
    min-width: 320px; //лучше задать на body, чтобы не выпадали
}
.login-page__inner {
    width: 320px; //либо auto, если макет резиновый
    //padding: 0 20px; //не забываем про отступы от краёв
    margin: 0 auto;
}

//От 768px планшетная версия
@media (min-width: $tablet-width) {
    .login-page__inner {
        width: 450px; //либо auto, если макет резиновый
        //padding: 0 64px; //не забываем про отступы от краёв
        margin: 0 auto;
    }
}

// От 1200 десктопная версия
@media (min-width: $desktop-width) {
    .login-page__inner {
        width: 550px;//на десктопе контент обычно фиксированной ширины
        //padding: 0 64px;//не забываем про отступы от краёв
        margin: 0 auto;
    }
}
//Ширина контейнера на вьюпорте в 1087px: 1087-128=959
//Результат: бесшовный переход от планшета к десктопу